{% load static %}
<html>
    <head>
        <title>Anhcun blog</title>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html;">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="{{title}}"/>
        <meta property="og:type" content="blog" />
        <meta property="og:site_name" content="Anhcun Blog"/>
        {% comment %} <meta property="og:url" content="http://vthanh.pythonanywhere.com"/> {% endcomment %}
        <meta property="og:image" content="{{image}}"/>
        <meta property="og:description" content="{{description}}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        {% load staticfiles %}
        {% block style %}
            <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
        {% endblock %}
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_corgi.ico' %}" />
        <!-- highlight đoạn code -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
    <header class="right-header">
        <!-- {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %} -->
        <figure id="user_logo" class="active">
            <a href="/"><img src="{% static 'images/python-logo.png' %}" alt="python-logo"></img></a>
        </figure>
        <h2><a href="/">Anhcun blog</a></h2>
        <h4><span class="name-head">by vthanh</span></h4>
        <h3>random blog nên gì cũng viết</h3>
        <div class="header-top show-pc">
            <a href="{% url 'resume_view'%}" class="resume">Resume</a>
            <a href="https://www.facebook.com/akiko.vo94" class="fb">Facebook</a>
            <a href="https://www.instagram.com/honganhftu01677/" class="instag">Instagram</a>
            <a href="https://github.com/vthanh6494?tab=repositories">Github</a>
        </div>
        <div class="header-top show-sp">
            <div class="social-icons">
                <a class="cv-icon" href="{% url 'resume_view'%}"><img src="{% static 'images/cv-icon.png' %}" alt="icon-CV"></img>
                </a>
                <a href="https://www.facebook.com/akiko.vo94">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/honganhftu01677/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://github.com/vthanh6494?tab=repositories">
                    <i class="fab fa-github"></i>
                </a>
              </div>
        </div>
    </header>
    <div class="content container">
        <div class="wrapping">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141256482-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141256482-1');
    </script>
</html>
