{% load static %}
<html prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" >
    <head>
        <title>Aln's blog</title>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html;">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="{{title}}"/>
        <meta property="og:type" content="blog" />
        <meta property="og:site_name" content="Aln's Blog"/>
        <meta property="og:url" content="http://vthanh.pythonanywhere.com/"/>
        <meta property="og:image" content="{{image}}"/>
        <meta property="og:description" content="{{description}}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_corgi.ico' %}" />
        <!-- highlight đoạn code -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><p>Welcome to Aln's blog</p></h1>
        <h1><a href="/">Bài viết</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141256482-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141256482-1');
    </script>
</html>
