{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Resume Hồng Ánh</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="resume" />
    <meta property="og:site_name" content="Anhcun Blog"/>
    {% comment %} <meta property="og:url" content="http://vthanh.pythonanywhere.com"/> {% endcomment %}
    <meta property="og:image" content="{{image}}"/>
    <meta property="og:description" content="{{description}}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_corgi.ico' %}" />

  <!-- loading fontawesome -->
  {% load staticfiles %}
  {% block style %}
      <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
  {% endblock %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/resume.css' %}">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <div class="wrap-icon-blog d-block d-lg-none">
      <a href="/"><i class="fas fa-blog"></i></img></a>
    </div>
    <div class="navbar-brand js-scroll-trigger no-margin">
      <span class="d-block d-lg-none">HONG ANH's CV</span>
      <span class="d-none d-lg-block">
        <a href="/"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'images/python-logo.png' %}" alt="avatar img"></a>
      </span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#languages">Languages</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">VO THI HONG
          <span class="text-primary">ANH</span>
        </h1>
        <div class="subheading mb-5">No 38 19B Street · Binh An ward, District 2 · (+84) 377-532-248·
          <a href="mailto:honganh6034@gmail.com">honganh6034@gmail.com</a>
        </div>
        <p class="lead mb-5">An alumni of Foreign Trade University, major in External Economics, having 2.5 years’ experiences as export document staff at a trading company, strong desire to challenge myself on many fields to improve my abilities and learn new things. <br>
        I realized how I love algorithm when I had the chance to approach it about 3 years ago. It always has new things to learn and new problem to solve. Currently, a position connecting me with Information Technology and Database, improving my skill would suit me the best.
        </p>
        <div class="social-icons">
          <!-- <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a> -->
          <a href="https://www.facebook.com/akiko.vo94">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/honganhftu01677/">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/vthanh6494?tab=repositories">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Rails on girls meet up</h3>
            <div class="subheading mb-3">Meet up about ruby on rails which is hold by TINYpulse Vietnam and participants are girls </div>
            <p>Demo project with ruby on rals</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July, 20th 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Blue course - Python (Big O coding)</h3>
            <div class="subheading mb-3">Algorithm & data structure (medium level)</div>
            <p>Certificate</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2018 - December 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Green course - Python (Big O coding)</h3>
            <div class="subheading mb-3">Algorithm & data structure (basic level)</div>
            <p>Certificate</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2018 - November 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Foreign Trade University</h3>
            <div class="subheading mb-3">Bachelor of Economics</div>
            <div>External</div>
            <p>GPA: 3.12/4</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2012 - March 2016</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">PHP Web Developer (fresher)</h3>
            <div class="subheading mb-3">ICD Viet Nam</div>
            <div class="title mb-1">Laravel Project</div>
            <ul class="fa-ul mb-0">
              <li><i class="fa-li fa fa-check"></i>migration from Cake php website to Laravel framework.
              <li><i class="fa-li fa fa-check"></i> Calling API and show information on the web
              <li><i class="fa-li fa fa-check"></i>Maintenance available web: https://petlife.asia/
              <li><i class="fa-li fa fa-check"></i>Doing some frontend tasks from Japan
            </ul>
            <div class="title mb-1">Silex Project</div>
            <ul class="fa-ul mb-0">
              <li><i class="fa-li fa fa-check"></i>Check logic and rewrite workflow.
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2019 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Export - import document staff</h3>
            <div class="subheading mb-3">Huy and Brothers</div>
            <div class="title mb-1">Duties and Responsibilities:</div>
            <ul class="fa-ul mb-0">
              <li><i class="fa-li fa fa-check"></i>Sale Admin
              <li><i class="fa-li fa fa-check"></i>International payment
              <li><i class="fa-li fa fa-check"></i>Export documents preparing
              <li><i class="fa-li fa fa-check"></i>Communicate between supplier and customer
              <li><i class="fa-li fa fa-check"></i>Arrange shipment schedule
            </ul>
            </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2016 - February 2019</span>
          </div>
        </div>
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <div class="title mb-1">Many experience</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-php"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-python-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-github-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-git-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-apache-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-windows8-original"></i>
          </li>
        </ul>
        <div class="title mb-1">Having knowledge</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="devicon-html5-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-css3-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-pip"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-bootstrap-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-mysql-plain"></i>
          </li>
        </ul>
        <div class="subheading mb-3">Frameworks</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-laravel"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-django-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I love learning something new around my life. That is the reason why I love coding and traveling. Thanks to coding, I can figure out how a web can do this action, redirect to another link, where the form goes when hitting the submit button..etc by my self. Traveling help me discover the culture, Languages and landscape around the world. Then I realized that how amazing the nature is!</p>
        <p class="mb-0">When forced indoors, I follow fantasy genre movies and television shows, I spend a large amount of my free time exploring the latest technology advancements and practice algorithm that help my improve logical thinking.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="languages">
      <div class="w-100">
        <h2 class="mb-5">Languages</h2>
        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-check"></i>Japanese: N3 - keeping learning
          <li><i class="fa-li fa fa-check"></i>English: Fluent in speaking, reading
        </ul>
      </div>
    </section>

    <hr class="m-0">

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'js/jquery-easing.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.js' %}"></script>

</body>

</html>
