.right-header {
    position: fixed;
    display: block;
    background: #f5f6fa;
    width: 300px;
    height: 100%;
    padding: 50px 10px;
    text-align: right;
}

.right-header h4 {
    font-size: 14px;
    color: #777;
    font-weight: 700;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

figure#user_logo {
    width: 110px;
    height: 110px;
    display: block;
    background-color: transparent;
    border: 5px solid #000;
    border-radius: 100%;
    margin: 0 0 10px auto;
}

figure#user_logo a img{
    display: block;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    margin: 0 auto;
    text-indent: -9999px;
    margin-top: 2px;
    background-size: 100%;
}

.right-header .header-top {
    padding: 35px 10px;
    text-align: right;
}

.right-header .header-top a {
    display: block;
    margin: 8px 0;
    clear: both;
    font-size: 16px;
}

.wrap-head:after {
    content: " ";
    display: block;
    width: 80px;
    height: 5px;
    background: #666;
    float: right;
    margin-top: 20px;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #d25801;
    text-decoration: none;
}

.content {
    margin: 0px auto;
}

h1, h2, h4 {
    font-family: "Arial", Helvetica, sans-serif;
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
    line-height: 26px;
    color: #6e6e6e;
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: monospace;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

p {
  margin: 0 0 5px;
}

h2{
  margin-top: 5px;
  margin-bottom: 5px;

}
.comment {
    margin: 20px 0px 20px 20px;
}

img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
}
.container {
    max-width: 650px;
    height: auto;
    padding: 20px;
    word-wrap: break-word;
    margin-left: 295px;
}
.post p {
    font-weight: 300;
    text-align: justify;
}

.post-attribute{
    display: block;
}

.date-and-comment{
    display: inline-flex;
    width: 100%;
}

.publish-date, .show-comment {
    width: 50%;
}

.tags a{
    color: #d25801;
    font-size: 10pt;
    font-weight: 700;
    margin-right: 5px;
}

.description {
    margin: 10px 0;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
    font-weight: 300;
    word-spacing: 4px;
}

.show-pc {
    display: block;
}

.show-sp {
    display: none;
}



@media screen and (max-width: 760px) {
    figure#user_logo {
        margin: 0 auto;
    }
    .container {
        margin-left: 0px;
    }
    .right-header {
        height: auto;
        width: 100%;
        position: relative;
        text-align: center;
        padding: 25px 10px 15px;
    }

    .right-header .header-top {
        text-align: center;
        padding: 10px 10px 0;
    }

    .wrap-head:after {
        content: " ";
        display: block;
        width: 130px;
        height: 2px;
        background: #666;
        margin: 20px auto 0px;
        float: none;
    }    

    .right-header .header-top a {
        margin-right: 25px;
        clear: both;
        font-size: 35px;
        margin-top: 20px;
    }

    .right-header .header-top a:last-child {
        margin-right: 0px;
    }

    .show-pc {
        display: none;
    }

    .show-sp {
        display: inline;
    }


    .social-icons {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .social-icons .cv-icon img {
        width: 25px;
    }

    .plus-margin-top {
        margin-top: 57px;
    }

    .fixed-icons-bar {
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 9999;
        background: #f5f6fa;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .fixed-icons-bar .wrap-logo {
        display: flex;
        align-items: center;
    }
    .fixed-icons-bar .wrap-logo a {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 100%;
    margin: 0 0 10px auto;
    }
    .fixed-icons-bar .wrap-logo img {
        display: block;
        width: 33px;
        height: 34px;
        border-radius: 100%;
        text-indent: -9999px;
        margin-top: 2px;
        margin-left: 2px;
        background-size: 100%;
    }

    .fixed-icons-bar .wrap-logo p {
        padding-left: 10px;
    }

    .fixed-icons-bar .social-icons a{
        font-size: 30px;
        margin-top: 0px;
        margin-right: 10px;

    }
    .fixed-icons-bar .social-icons a img{
        width: 23px;
    }
}